<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>音乐播放器</title>
</head>
<body>
    <style> [v-cloak] { display: none; } </style>
    <div class="wrap">
        <!-- 播放器主主体区域 -->
        <div class="play_wrap" id="player">
        <div class="search_bar">
            <img src="image/player_title.png" alt=""/>
			<!-- 天气预报 -->
			<div class="weather">
				<div class="show_weather" v-cloak>
					<div class="location">{{ city }}</div>
					<div><img class="weather_img" :src="type"></div>
					<div class="temperature">{{ temperature }}</div>
				</div>
				<div class="future">
					<div class="search_weather"><input type="text" @keyup.enter="searchWeather" v-model="city"/></div>
					<ul class="future_weather">
						<li v-for="item in weatherList">
							<div class="info_date"><span>{{ month+item.date }}</span></div>
							<div><img class="weather_img" :src="item.img"></div>
							<div>{{ item.low }}~{{ item.high }}</div>
							<div>{{ item.fengxiang }}</div>
						</li>
					</ul>
				</div>
			</div>
            <!-- 搜索歌曲 -->
            <input type="text" placeholder="搜索音乐" v-model="query" @keyup.enter="searchMusic"/> 
            <!-- autocomplete 属性规定输入字段是否应该启用自动完成功能。
                自动完成允许浏览器预测对字段的输入。当用户在字段开始键入时，
                浏览器基于之前键入过的值，应该显示出在字段中填写的选项。 -->
        </div>
        <div class="center_con">
            <!-- 搜索歌曲列表 -->
            <div class="song_wrapper">
                <ul class="song_list" v-cloak>
                    <li v-for="item in musicList">
                        <a href="javascript:;" @click="playMusic(item.id)">
                            <img src="image/play.png">
                            <b>{{ item.name }}</b> </a> 
                        <span><i v-if="item.mvid!=0" @click="playMv(item.mvid)"></i></span>
                        <!-- <i> 标签显示斜体文本效果。  歌曲mv图标 -->
                    </li>
                </ul>
                <img src="image/line.png" class="switch_btn" alt="">              
            </div>
            <!-- 歌曲信息容器 -->
            <div class="player_con" :class="{playing:isPlaying}" @click="isPlaying=!isPlaying">
            <!-- playing（播放旋转动画）是否作用于该div元素上 由isPlaying数据来决定，为true时作用，false时不作用。 -->
                <img src="image/player_bar.png" class="play_bar">
                <!-- 黑胶碟片 -->
                <img src="image/disc.png" class="disc autoRotate">
                <!-- 表示有disc和autoRotate两个类 -->
                <img :src="musicCover==''?'image/cover.png':musicCover" class="cover autoRotate">
            </div>
            <!-- 评论容器 -->
            <div class="comment_wrapper">
                <h5 class="title">热门评论</h5>
                <div class="comment_list">
                    <dl v-for="item in hotComments" v-cloak>
                        <dt>
                            <img :src="item.user.avatarUrl" alt="">
                        </dt>
                        <dd class="name">{{ item.user.nickname}}</dd>
                        <dd class="detail">{{ item.content }}</dd>
                    </dl>
                </div>
                <img src="image/line.png" class="right_line" alt="">
            </div>
        </div>
        <div class="audio_con">
            <!-- 音乐播放器 controls:显示系统自带的播放面板 autoplay：自动播放 loop：自动循环播放 v-bind:单向数据绑定（缩写冒号）-->
            <audio ref="audio" @play="play" @pause="pause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
        </div>
        <!-- 视频播放标签 -->
        <!-- style="display: none;" 解决一开始网页渲染播放器没有及时隐藏的问题 -->
        <div class="video_con" v-show="isShow" style="display: none;">  
            <video  ref='video' :src="mvUrl" controls="controls" controls autoplay loop ></video>
            <div class="mask" @click="hide">结束</div>
        </div>
        </div>
    </div>
    <script src="vue.js"></script>
      <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>